.search {
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  border-radius: 1rem;
  border: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.search-field-container {
  position: relative;
  margin-bottom: 2rem;
}

.search-field-container svg {
  color: #757575ad;
  position: absolute;
  top: 0.45rem;
  left: 0.5rem;
}